In [30]:
import pandas as pd

In [31]:
data = pd.read_csv('water.txt', delimiter='\t')
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [32]:
import numpy as np
from statsmodels.stats.weightstats import _tconfint_generic

In [33]:
mean_mortality, mean_std_mortality = data['mortality'].mean(), data['mortality'].std()/np.sqrt(len(data)) 
mortality_conf_int =  _tconfint_generic(mean_mortality, mean_std_mortality, len(data) - 1, 0.05, 'two-sided')

print(f"95% confidence interval for mortality: ({mortality_conf_int[0]:.4f}, {mortality_conf_int[1]:.4f})")

95% confidence interval for mortality: (1476.0833, 1572.2117)

In [34]:
data_south = data[data['location']=='South']
data_south.head()

   location         town  mortality  hardness
0     South         Bath       1247       105
2     South   Birmingham       1466         5
7     South  Bournemouth       1299        78
9     South     Brighton       1359        84
10    South      Bristol       1392        73

In [35]:
mean_mortality_south = data_south['mortality'].mean()
mean_std_mortality_south = data_south['mortality'].std()/np.sqrt(len(data_south))
mortality_south_conf_int =  _tconfint_generic(mean_mortality_south, 
                                              mean_std_mortality_south, 
                                              len(data_south) - 1, 0.05, 'two-sided')

print(f"95% confidence interval for mortality in South regions: ({mortality_south_conf_int[0]:.4f}, " 
                                                               f"{mortality_south_conf_int[1]:.4f})")

95% confidence interval for mortality in South regions: (1320.1517, 1433.4636)

In [36]:
data_north = data[data['location']=='North']
data_north.head()

  location        town  mortality  hardness
1    North  Birkenhead       1668        17
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18
5    North      Bolton       1558        10
6    North      Bootle       1807        15

In [37]:
mean_mortality_north = data_north['mortality'].mean()
mean_std_mortality_north = data_north['mortality'].std()/np.sqrt(len(data_north))
mortality_north_conf_int =  _tconfint_generic(mean_mortality_north, 
                                              mean_std_mortality_north, 
                                              len(data_north) - 1, 0.05, 'two-sided')

print(f"95% confidence interval for mortality in North regions: ({mortality_north_conf_int[0]:.4f}, " 
                                                               f"{mortality_north_conf_int[1]:.4f})")

95% confidence interval for mortality in North regions: (1586.5605, 1680.6395)

In [38]:
mean_hardness_south = data_south['hardness'].mean()
mean_std_hardness_south = data_south['hardness'].std()/np.sqrt(len(data_south))
hardness_south_conf_int =  _tconfint_generic(mean_hardness_south, 
                                             mean_std_hardness_south, 
                                             len(data_south) - 1, 0.05, 'two-sided')

print(f"95% confidence interval for hardness in South regions: ({hardness_south_conf_int[0]:.4f}, " 
                                                              f"{hardness_south_conf_int[1]:.4f})")

95% confidence interval for hardness in South regions: (53.4672, 86.0713)

In [39]:
mean_hardness_north = data_north['hardness'].mean()
mean_std_hardness_north = data_north['hardness'].std()/np.sqrt(len(data_north))
hardness_north_conf_int =  _tconfint_generic(mean_hardness_north, 
                                             mean_std_hardness_north, 
                                             len(data_north) - 1, 0.05, 'two-sided')

print(f"95% confidence interval for hardness in North regions: ({hardness_north_conf_int[0]:.4f}, " 
                                                              f"{hardness_north_conf_int[1]:.4f})")

95% confidence interval for hardness in North regions: (21.4225, 39.3775)

In [40]:
from scipy import stats
n = np.ceil((stats.norm.ppf(1-0.05/2)/0.1) ** 2)

print(f"Number of samples: {int(n)}")

Number of samples: 385