In [144]:
import numpy as np
from scipy import stats

In [145]:
n = 100

F_H0 = stats.binom(n, 0.75)
p_value = stats.binom_test(67, 100, 0.75, alternative='two-sided')
print(f"p-value: {p_value:.4f}")

p-value: 0.0822

In [146]:
import pandas as pd

In [147]:
data = pd.read_csv('pines.txt', delimiter='\t')
data.head()

      sn    we
0  200.0   8.8
1  199.3  10.0
2  193.6  22.4
3  167.7  35.6
4  183.9  45.4

In [148]:
squares = stats.binned_statistic_2d(data['sn'], data['we'], None, 'count', bins=[5, 5])[0]
l = np.mean(squares)
print(f"Mean value: {l:.2f}")

Mean value: 23.36

In [151]:
statistic = stats.chisquare(squares.flatten(), ddof = 0).statistic
print(f"Value of statistic: {statistic:.2f}")

Value of statistic: 150.59