In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('water.txt', delimiter='\t')

data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [3]:
import numpy as np
from statsmodels.stats.weightstats import _tconfint_generic

In [4]:
mean_mortality, mean_std_mortality = data['mortality'].mean(), data['mortality'].std()/np.sqrt(len(data)) 

print("95% confidence interval for mortality:", _tconfint_generic(mean_mortality, mean_std_mortality, 
                                                                len(data) - 1, 
                                                                0.05, 'two-sided'))

95% confidence interval for mortality: (1476.0833413552848, 1572.2117406119285)

In [5]:
data_south = data[data['location']=='South']

data_south.head()

   location         town  mortality  hardness
0     South         Bath       1247       105
2     South   Birmingham       1466         5
7     South  Bournemouth       1299        78
9     South     Brighton       1359        84
10    South      Bristol       1392        73

In [6]:
mean_mortality_south = data_south['mortality'].mean()
mean_std_mortality_south = data_south['mortality'].std()/np.sqrt(len(data_south))

print("95% confidence interval for mortality in South regions:", _tconfint_generic(mean_mortality_south, 
                                                                                   mean_std_mortality_south, 
                                                                                   len(data_south) - 1, 
                                                                                   0.05, 'two-sided'))

95% confidence interval for mortality in South regions: (1320.1517462936238, 1433.463638321761)

In [7]:
data_north = data[data['location']=='North']

data_north.head()

  location        town  mortality  hardness
1    North  Birkenhead       1668        17
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18
5    North      Bolton       1558        10
6    North      Bootle       1807        15

In [8]:
mean_mortality_north = data_north['mortality'].mean() 
mean_std_mortality_north = data_north['mortality'].std()/np.sqrt(len(data_north)) 

print("95% confidence interval for mortality in North regions:", _tconfint_generic(mean_mortality_north, 
                                                                                   mean_std_mortality_north, 
                                                                                   len(data_north) - 1, 
                                                                                   0.05, 'two-sided'))

95% confidence interval for mortality in North regions: (1586.5605251961385, 1680.6394748038613)

In [9]:
mean_hardness_south = data_south['hardness'].mean() 
mean_std_hardness_south = data_south['hardness'].std()/np.sqrt(len(data_south)) 

print("95% confidence interval for hardness in South regions:", _tconfint_generic(mean_hardness_south, 
                                                                                  mean_std_hardness_south, 
                                                                                  len(data_south) - 1, 
                                                                                  0.05, 'two-sided'))

95% confidence interval for hardness in South regions: (53.467198692036106, 86.07126284642544)

In [10]:
mean_hardness_north = data_north['hardness'].mean() 
mean_std_hardness_north = data_north['hardness'].std()/np.sqrt(len(data_north)) 

print("95% confidence interval for hardness in North regions:", _tconfint_generic(mean_hardness_north, 
                                                                                  mean_std_hardness_north, 
                                                                                  len(data_north) - 1, 
                                                                                  0.05, 'two-sided'))

95% confidence interval for hardness in North regions: (21.42248728572426, 39.37751271427574)

In [15]:
from scipy import stats
n = np.ceil((stats.norm.ppf(1-0.05/2)/0.1) ** 2)

print(f"Number of elements: {n}")

Number of elements: 385.0