In [1]:
import pandas as pd

In [6]:
data = pd.read_csv("illiteracy.txt", delimiter = '\t')
data.drop('Country', axis=1, inplace=True)
data.head()

   Illit  Births
0   20.5    1.78
1   39.1    2.44
2   15.0    2.34
3    5.9    2.97
4   73.5    5.60

In [11]:
corr = data.corr()['Births']['Illit']
print(f"Pearson's correlation: {corr:.4f}")

Pearson correlation: 0.7687

In [12]:
corr = data.corr(method='spearman')['Births']['Illit']
print(f"Spearman's correlation: {corr:.4f}")

Spearman's correlation: 0.7530